* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: blueviolet;
  background-color: rgb(246, 211, 165);
}

a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.card-body{
  background-color: rgb(252, 201, 133);
}

.btn{
  background-color: blueviolet;
}