<!DOCTYPE html>
<html lang="sp">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home Page</title>
      <link rel="stylesheet" href="/css/app.css">
</head>

<body>
      <h1>Home Page</h1>
      <hr>
      <nav>
            <ul>
                  <li><a href="/">HOME</a></li>
                  <li><a href="/products">PRODUCTOS</a></li>
                  <li><a href="/products/detail">DETALLE DEL PRODUCTOS</a></li>
                  <li><a href="/users/register">REGISTRATE</a></li>
                  <li><a href="/users/login">INICIAR SESION</a></li>
            </ul>
      </nav>
</body>

</html>